*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

img { height: auto; }

input,
button {
    font: inherit;
    background: none;
    border: none;
}

input {
    width: 100%;
    outline: none;
}

input[type="checkbox"] { display: none; }

button { cursor: pointer; }

ion-icon { 
    font-size: var(--fs-2);
    pointer-events: none; 
}

html {
    font-family: var(--ff-inter);
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-3);
    font-weight: var(--fw-medium);
    letter-spacing: -0.01em;
    line-height: 100%;  
    color: var(--light-black);
}
a {
    font-family: sans-serif;
    text-decoration: none;
    color: inherit;
  }
  

  
  li { list-style: none; }
  
  /* внутренний отступ хедера */
  .header { padding: 20px; }
  
  /* разделение содержимого хедера по сторонам */
  .header__inner {
    display: flex;
    justify-content: space-between;
  }
  
  /* отцентрирование лого и бургера */
  .header__left-side {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  /* HEaderrrrrrrrr */
  .header__burger {
    background: none;
    border: none;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .header__burger span {
    height: 10px;
    width: 100%;
    background-color: black;
  }
  
  .header__logo {
    font-size: 70px;
    font-weight: 400;
    line-height: 84.72px; 
  }
  
  .header__list {
    display: flex;
    gap: 20px;
  }
  
  .header__link {
    font-size: 30px;
    font-weight: 400;
  }
  .header__item{
    position: relative;
}
.header__item::before{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 3px;
    width: 0;
    background-color: black;
    transition: width 0.5s ease;
}
.header__item:hover::before{
    width: 100%;
}
/* ________________burger________________ */
  .nav {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: white;
    z-index: 1000;
    transition: .5s ease;
    width: 300px;
}
.nav__list{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-right: 80px;

   text-transform: uppercase;
}
.nav__list1{
    margin: 50px 0px 0px 45px;
    text-transform:uppercase ;
}
.nav__list2{
    margin: 50px 0px 0px 45px;
    text-transform:uppercase ;
}
.nav__link1{
    line-height: 35px;
}


.nav__cross{
    padding-top: 20px;
    /* width: 20px;
    height: 20px;
    text-transform: uppercase; */
    font-size: 40px;
}
.nav__list-item{
    position: relative;
}
.nav__list-item::before{
    content: '';
    position: absolute;
    bottom: -1px;
    height: 3px;
    width: 0;
    background-color: rgb(0, 0, 0);
    transition: width 0.5s ease;
}
.nav__list-item:hover:before{
    width: 25%;
}
    

/* _______________MAIN______________________ */
.main{
    min-height: 100%;
}

.main__inner{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}
.link__image{
    box-shadow: 10px 5px 5px rgba(73, 71, 71, 0.719);
  
}
.link__image1{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    box-shadow: 10px 5px 5px rgba(73, 71, 71, 0.719.);
}


.link__right-side{
    /* display: flex;
    /* justify-content: end;  */
    margin-left: 1400x; 
    line-height: 30px;
}
     
 /* ______________FOOTER________________________ */
.footer{ 
    
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:200px ;
   
}

.link{
    margin-top: 30px;
    color: white;
    text-transform: uppercase;
}
html,
body{
    height: 100%;
}   
.footer__item{

    position: relative;
}
.footer__item:before{
    content: '';
    position: absolute;
    bottom: -1px;
    height: 3px;
    width: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.5s ease;
}
.footer__item:hover::before{
    width: 100%;
}


/* CATALOG */
 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 100px 100px 0px 100px;
    width: 100%;
 }

 .cart__product{
    width: 50%;
 }
